:root {
    --primary-color: #F7630C;
    --color-grey: #78909C;
    --color-light-grey: #D7E0E2;
    --color-light-dark: #47525E;
    --color-white: #fff;

    --font-stack: 'Lato';
    --base-font-size: 15px;
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 700;

    --box-shadow: 0.1rem 0.1rem 1rem rgba(100, 100, 100, 0.2);
    --element-shadow: 0.1rem 0.1rem 0.2rem rgba(100, 100, 100, 0.5);

    --announcement-gap: 2rem;
}